html,
body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  height: 100%;
}

h1 {
  font-size: 50px;
  font-weight: normal;
  margin-bottom: 20px;
  text-align: center;
}

.download-link {
  color: aquamarine;
  font-size: 16px;
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

p {
  font-size: 21px;
  color: gray;
}

.mobile-phone-image {
  padding-top: 25px;
  padding-bottom: 25px;
}

.footer-copyright {
  font-size: 30px;
  font-weight: bold;
  color: gray;
  text-align: right;
}
